name: Build and Push image

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_PREFIX: 'ghcr.io/openeverest'
      EVEREST_CATALOG_DEV_IMAGE_NAME: 'openeverest-catalog-dev'
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.IMAGE_PREFIX }}/${{ env.EVEREST_CATALOG_DEV_IMAGE_NAME }}
          tags: |
            type=raw,value=0.0.0,enable=${{ contains(github.ref_name, 'main') }}
            type=raw,value=latest,enable=${{ contains(github.ref_name, 'main') }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          file: everest-catalog.Dockerfile


